* {
    margin: 0;
    text-align: center;
}

.flag {
    max-width: 25px;
    margin-right: 5px;
}

.gflag {
    max-width: 16px;
    margin-right: 5px;
}

body {
    background-color: rgb(40, 207, 236);
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
}

h1.title {
    margin: 10px;
}

.app_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.app__left {
    flex: 0.9;
}



.app__right__LineGraph {
    margin-top: 15px;

}

.LineGraph {
    min-height: 220px;
}

.app__stats {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

@media (max-width:850px) {
    .app {
        flex-direction: column;
    }

    h2.api_desp {
        max-width: 60%;
        font-size: large;
    }

    .app__right__Table h1 {
        font-size: larger;
    }

    .app__right__LineGraph h3 {
        font-size: larger;
    }

    .map {
        max-height: 400px;
    }
}