* {
    margin: 0;
    text-align: center;
}

.dark {
    color: white;
}

.flag {
    max-width: 25px;
    margin-right: 5px;
}

.gflag {
    max-width: 16px;
    margin-right: 5px;
}

.main-body.light {
    background-color: #ebebf5;
    transition: 1s ease-out;
}

.main-body.dark {
    transition: 1s ease-out;
    background-color: hsla(240, 23%, 9%, 0.89);
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
}

h1.title {
    padding: 10px;
}

.app_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.app__left {
    flex: 0.9;
}

.app__right__LineGraph {
    margin-top: 15px;
}

.LineGraph {
    min-height: 220px;
}

.app__stats {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    /* float: right; */
}

button.toggleColor.dark {
    background-color: rgba(240, 233, 233, 0.856);
    color: rgb(15, 14, 14);
}

@media (max-width: 850px) {
    .app {
        flex-direction: column;
    }

    h1.title {
        text-align: left;
        font-size: large;
        padding-top: 10px;
        margin-left: 2rem;
    }

    button {
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: large;
        /* float: right; */
    }

    h2.api_desp {
        font-size: medium;
    }

    .app__right__Table h1 {
        font-size: larger;
    }

    .app__right__LineGraph h3 {
        font-size: larger;
    }

    .map {
        max-height: 400px;
    }
}

@media (max-width: 850px) and (min-width: 400px) {
    h2.api_desp {
        margin-left: 20px;
    }

    h1.title {
        text-align: center;
    }
}